<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="./public/css/style.css">
   
</head>

<body>
    <header>
        <h1><a href="/">Tech Blog</a></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}} <!--  specific content for each page will be inserted -->
    </main>

    <footer>
        <p>&copy; 2023 Tech Blog</p>
    </footer>

    <script src="./config/connection.js"></script>
    
</body>

</html>